%p
  - id_of_text_area = "gluttonberg_page_localization[contents][#{content.association_name}][#{content.id}][text]"
  - unique_class =  "gb_page_contents_text_content_#{content.id}"

  %label.block_label= content.section_label
  = text_area_tag(id_of_text_area , content.text, :class => "large tall #{unique_class}", :width => "490", :height => "400")
